body{
    font-size: 1.25rem;
}

.center-text{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.col{
    flex-direction: column !important;
}

.yellow{
    color: #ccaa53
}

hr{
    width: 100%;
    background-color: white;
    opacity: 1;
}

.btn{
    background-color: black;
    color: white;
    font-family: lato;
    font-size: 18px;
    padding: 0.6em 1.4em !important;
    font-weight: 700;
    margin: 0 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.7em;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
  display: inline-block;
}
.btn:hover{
    
    color: #ffffff;
    border-color: #ccaa53;
    background-color: #ccaa53;
}
.host{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 0 3rem 3rem 3rem;
    flex-wrap: wrap;
    min-width: 20em ;
    width: 30em
}

.host-img{
    height: 30em;
    min-height: 20em !important;
    width: 100%;
}

.host h3{
    margin: 0.5em 0;
    font-weight: 300;
    font-size: 2em;
}

.host p {
    margin: 0;
}

/* #section-3{
    display: flex;
    justify-content: center;
    align-items: center;
} */


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
svg{
    color: #807a6d;
    width: 48px;
    
}

.collapsible{
    width: 100%;
}
.collapsible__trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px;
  border: none;
  border-top:  1px solid #807a6d;
  /* font-weight: 600; */
  color: white;
  text-align: left;
  outline: none;
  background: #1C1818;
}

.collapsible__trigger__last{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px;
    border: none;
    border-top:  1px solid #807a6d;
    /* font-weight: 600; */
    color: white;
    text-align: left;
    outline: none;
    background: #1C1818;
    border-bottom:  1px solid #807a6d;
}

.collapsible__trigger:focus-visible {
  outline: 2px solid hsl(200 98% 39%);
  outline-offset: 2px;
}
.collapsible__trigger-icon {
  width: 20px;
  height: 20px;
  transition: transform 250ms;
}
.collapsible__trigger[data-expanded] .collapsible__trigger-icon {
  transform: rotateZ(180deg);
}


.icon-primary {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

/* Initial state of the incoming icon (hidden and shrunk) */
.icon-secondary {
  opacity: 0;
  display: none;
  transform: rotate(-90deg) scale(0);
}

/* Transform on hover / state change */
.collapsible__trigger[data-expanded] .icon-toggle .icon-primary {
  opacity: 0;
  display: none;
  transform: rotate(90deg) scale(0);
}

.collapsible__trigger[data-expanded] .icon-toggle .icon-secondary {
  opacity: 1;
  display: block;
  transform: rotate(0deg) scale(1);
}

#section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 8em;
}
#section-3 h2 {
    margin: 0.5em 0;
}

@media(max-width: 700px){
    #section-3{
        text-align: center;
        padding: 1em;
    }
    #section-3 h2{

        font-size: 2em;
    }
}

@media(max-width: 500px){
    #section-3 h2{
        font-size: 0.1em;
    }
}

#section-4{
    background-color: #f7f7f3;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em 8em;
}

#section-4 h2{
    margin: 0.5em 0;
    text-align: center;
}

#section-4 #main{
    display: flex;
    flex-direction: row;
}

#section-4 #main .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
}

#section-4 #main .left div{
    width: 75%;
}

#section-4 #main .left div img{
    width: 100%;
    border-radius: 8px;
}

#section-4 #main .right{
    width: 50%;
    padding: 0 1em 1em 1em;
}
@media (max-width: 1000px) {
    #section-4{
        padding: 0 2em;
    }
    #section-4 #main{
        flex-direction: column;
    }
    #section-4 #main .left, 
    #section-4 #main .right{
        width: 100%;
        margin: 0.5em;
        text-align: center;
    }
}

@media (max-width: 500px) {
    #section-4{
        padding: 0 0.1em;
    }
}

.healcode-container{
    margin-top: 2em;
}

/* healcode-widget{
        background: #1c1818;
    padding: 0.75em;
    border-radius: 50px;
} */



healcode-widget a {
  background-color: #1c1818;
  border-radius: 100px;
  color: #f7f7f3;
  font-size: 18px;
  padding: 0.6em 1.4em !important;
  font-weight: 700;
  /* margin: 0 10px; */
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.7em;
  transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
  display: inline-block;

}

healcode-widget a:hover{
      color: #f7f7f3;
  border-color: #a7a39c;
  background-color: #a7a39c;
}

 #section-3 healcode-widget a {
  background-color: #f7f7f3;
  border-radius: 100px;
  color: #1c1818;
  font-size: 18px;
  padding: 0.6em 1.4em !important;
  font-weight: 700;
  /* margin: 0 10px; */
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.7em;
  transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
  display: inline-block;

}

#section-3 healcode-widget a:hover{
  color: #f7f7f3;
  border-color: #a7a39c;
  background-color: #a7a39c;
}
