body{
    font-size: 1.25rem;
}

.center-text{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.col{
    flex-direction: column !important;
}

.yellow{
    color: #ccaa53
}

hr{
    width: 100%;
    background-color: white;
    opacity: 1;
}

.btn{
    background-color: black;
    color: white;
    font-family: lato;
    font-size: 18px;
    padding: 0.6em 1.4em !important;
    font-weight: 700;
    margin: 0 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.7em;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
  display: inline-block;
}
.btn:hover{
    
    color: #ffffff;
    border-color: #ccaa53;
    background-color: #ccaa53;
}
.host{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 0 3rem 3rem 3rem;
    flex-wrap: wrap;
    min-width: 20em ;
    width: 30em
}

.host-img{
    height: 30em;
    min-height: 20em !important;
    width: 100%;
}

.host h3{
    margin: 0.5em 0;
    font-weight: 300;
    font-size: 2em;
}

.host p {
    margin: 0;
}

#section-3 h2{
    margin: 1em 0;
}

#section-3 > div{
    margin: 0;
    display: flex;
    flex-direction: row ;
    padding: 0 8rem ;
}

#section-3 > div p{
    margin: 2.5rem 0 ;
    text-align: justify;
}

#section-3 .even{
    display: flex;
    flex-direction: row;
}
.even > div{
    width:50%;
    margin-bottom: 2rem;
    /* padding: 4rem; */
}
.even hr{
    margin: 1rem 0 0.25rem 0;
}

.schedule{
    display: flex;
    flex-direction: row;
}
.time{
    width: 7.5rem;
}
.even .left{
    padding-right: 5rem;

}

.kelly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kelly > div{
    padding-left: 2rem;
}



.kelly div img{
    border-radius: 50%;
    width: 256px;
}

@media( min-width: 500px){
    .kelly div img{
        width: 376px;
    }
}


@media( max-width: 900px){
    #section-3 > div{
        align-items: center;
        flex-direction: column ;
        padding: 0 2rem;
    }
    #section-3 .even{
        text-align: center;
        flex-direction: column;
    }
    .even > div{
        width: 100%;
    }
    .host{
        padding: 3em 15px;
    }
    h2{
        text-align: center;
    }
    .even .left{ padding: unset;}
    .kelly > div{
        padding-left: unset;
    }
    
}



