.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12em;
    position: relative;
}

@media(max-width: 400px){
    .hero{
        padding: 0 0;
    }
}

#hero-box *{
    text-align: center;
}

#hero-box p{
    font-size: 22px;
    margin: unset;
    text-transform: uppercase;
}

#hero-box h2, #hero-box p{
    letter-spacing: 4px;
}

#section-2{
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: initial;
    background-repeat: repeat;
    background-image: url(/public/wood.jpg) !important;

    padding: 52px 0;
}

#section-2 div{
    max-width: 800px;
}

#section-2 div blockquote p{
    font-size: 1.5em;
    color: #ccaa53;
}

#section-2 div > p{
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
    font-size: 18px;
}

@media( max-width: 760px) {
    #section-2{
        text-align: center;
    }
}