.hero{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 12em;
    position: relative;
}

#welcome-box{
    text-align: right;
}

#contact-box{
    padding: 15px 0px;
    margin-left: 2em;
}

#action-items{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
}

#action-items a{
    border: solid 2px #1c1818;
    background-color: #1c1818;
    border-radius: 24px;
    color: #f7f7f3;
    font-family: lato;
    font-size: 18px;
    padding: 0.3em 1em !important;
    font-weight: 700;
    margin: 0 0 0 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.7em;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
}

.modal{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
    
  }

  .modal-background{
    background: black;
    opacity: 0.8;

    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;

    z-index: 10;
  }
  .modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background: black;
    width: 50%;
    border-radius: 8px;
    z-index: 20;
  }



#action-items a:hover, #copy a:hover{
    
    color: #f7f7f3;
    border-color: #a7a39c;
    background-color: #a7a39c;
}

#section-2{
    display: flex;
    flex-direction: row;
}



#copy div{
    padding: 5%;
}

#copy p{
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    line-height: 1.7em;
    font-size: 100%;
    font-weight: 300;
}

#copy h2{
    font-weight: 700;
  font-size: 25px;
  color:  #e1d8cb !important;
}

  #image{
    position: relative;
  }

  #copy a{
    background-color: #181c1c;
    color: white;
    font-size: 18px;
    padding: 0.6em 1.4em !important;
    font-weight: 700;
    margin: 0 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.7em;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
  }

  @media (max-width: 1200px){
    .modal-content{
        width: 75%
    }
  }

  @media (max-width: 760px) {
    .hero{
        justify-content: center;
        padding: 5%;
    }

    #welcome-box{
        text-align: center;
    }
    #image{
        display: none;
    }

    #copy{
        width: 100%;
        text-align: center;
    }

    .modal-content{
        width: 90%
    }
  }
  @media (max-width: 400px) {
    .hero{
      padding: 5%;
    }
  }
  
  .dn{
    display: none;
  }

