.header {
    font-family: Poppins;
    padding: 0px 0px; 
    background:  #1c1818;
    color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    transition: all 3s ease-in-out;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


#logo{
    margin-left: 30px ;
}

.header #logo img{
    width: 186px;
    transition: all 0.25s ease-in-out;
}


 .sticky #logo img{
    width: 120px;
    transition: all 0.25s ease-in-out;
  }

#nav {
    width: 50%;
    margin-right: 30px;
}
#nav, #nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  
  #nav-ul{
    background-color:  #1c1818;
    margin: 0;
  }

  #nav-ul li{
    display: block;
    padding: 1em;
    flex: 1;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
  }

  li:hover{
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
  }

  .current-page{
    color: #454545;
  }

  .mobile{
    cursor: pointer;
  }

  .mobile i{
    font-size: 48px;
  }

  .mobile:hover{
    opacity:  0.80;
  }

  .hide-on-desktop{
    display: none;
  }

  .hide-on-mobile{
    display: flex;
  }

  .hide{
    display: none;
  }

  @media (max-width: 1500px){
    .hide-on-desktop{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2em;
    }

    .hide-on-mobile{
      display: none !important;
    }

    #nav, #nav-ul{
      flex-direction: column;
    }
  }

  @media (max-width: 400px){
    .hide-on-desktop{
      padding: 0%;
    }
    #nav{
      margin-right: 0px;
    }
  }