.class{
    display: flex;
    flex-direction: row;
    max-height: 464px;
}

.class:nth-child(even){
    flex-direction: row-reverse;
}

.class-image, .class-descripiton{
    width: 50%
}

.class-image img{
    width: 100%;
    height: 100%;
}

.class-descripiton > div{
    padding: 96px;
}

.class h2{
    font-weight: 700;
    font-size: 41px;
    color:  #e1d8cb !important;
}

.class:nth-child(even) .class-descripiton > div{
    text-align: right;
}

@media(max-width: 760px){
    .class-image{
        display: none;
    }

    .class-descripiton{
        width: 100%;
    }

    .class-descripiton > div{
        padding: 0 0px;
    }

    .class{
        margin: 35px 0;
        padding: 0 20px;
        max-height: unset;
    }

    .class .class-descripiton > div, .class:nth-child(even) .class-descripiton > div{
        text-align: center;
    }
}

