#contact-box{
    padding: 15px 0px;
    margin-left: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.phone{
    margin-right: 1em ;
}

#contact-box *{
    color: #a7a39c
}


