/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*/


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fn-cormorant{
  font-family: Cormorant Garamond;
}

body {
  font-family: Poppins, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  background-color:  #1c1818;
  color: #f7f7f3;
}

a {
  all: unset;
  cursor: pointer;
}

main {
  text-align: center;
  margin: 0 auto;
}

h1 {
  
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

 p {
  /* max-width: 14rem; */
  line-height: 1.35;
  
} 

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: #335d92;
  background-color: rgba(68, 107, 158, 0.1);
  border-radius: 2em;
  border: 2px solid rgba(68, 107, 158, 0);
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
}

.increment:focus {
  border: 2px solid #335d92;
}

.increment:active {
  background-color: rgba(68, 107, 158, 0.2);
}
 .copy{
    font-family: "poppins", Helvetica, Arial, Lucida, sans-serif;
    line-height: 31px;
    font-size: 18px;
    font-weight: 100;
 }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
[class*="sticky"] + .content {
    padding-top: 136px; 
}

hr{
  
  
  border: none;
  height: 1px;
  /* Set the hr color */

  background-color: #333;
}

input, textarea {
  box-sizing:border-box ;
  border-color: #777771;
  background-color: #454545;
  color: #f7f7f3;
  outline: none;
}

input:focus, textarea:focus, input:focus-visible, textarea:focus-visible, input:active, textarea:active{
  border: 1px solid #6caa66 !important
 } 

textarea{
  height: 12rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2em 0;

  background-color: #1c1818;
  color: #f7f7f3;
}

input[type=submit]:hover {
  opacity: 0.6;
}

.btn{
  background-color: #1c1818;
  border-radius: 100px;
  color: #f7f7f3;
  font-size: 18px;
  padding: 0.6em 1.4em !important;
  font-weight: 700;
  margin: 0 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.7em;
  transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
  display: inline-block;
}
.btn:hover{
  
  color: #f7f7f3;
  border-color: #a7a39c;
  background-color: #a7a39c;
}

.modal-content{
  background-color: #000000;
}
.modal-header{
  padding: 2em;
  text-align: center;
}
.modal-header button{
 background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#ff000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
}
.modal-title{
  width:100%
}
.modal-body{
  padding: 4em;
}

.center{
  text-align: center;
}



