@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Josefin Sans, Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  background-color: black;
  color: white;
}

a {
  all: unset;
  cursor: pointer;
}

main {
  text-align: center;
  margin: 0 auto;
}

h1 {
  
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

 p {
  /* max-width: 14rem; */
  line-height: 1.35;
  
} 

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: #335d92;
  background-color: rgba(68, 107, 158, 0.1);
  border-radius: 2em;
  border: 2px solid rgba(68, 107, 158, 0);
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
}

.increment:focus {
  border: 2px solid #335d92;
}

.increment:active {
  background-color: rgba(68, 107, 158, 0.2);
}
 .copy{
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    line-height: 31px;
    font-size: 18px;
    font-weight: 100;
 }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
[class*="sticky"] + .content {
    padding-top: 136px; 
}

hr{
  
  
  border: none;
  height: 1px;
  /* Set the hr color */

  background-color: #333;
}

input, textarea {
  box-sizing:border-box ;
  border-color: #777771;
  background-color: #3c3c3c;
  color: #000000;
  outline: none;
}

input:focus, textarea:focus, input:focus-visible, textarea:focus-visible, input:active, textarea:active{
  border: 1px solid #6caa66 !important
 } 

textarea{
  height: 12rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2em 0;

  background-color: #ccaa53;
  color: #FFFFFF;
}

input[type=submit]:hover {
  opacity: 0.6;
}




